<div class="container">
  <div class="work_types_title">
    <h3>Work type名称変更</h3>
  </div><br>
  <%= form_with model: @work_type, url: admins_work_type_path(@work_type), local: true do |f| %>
    <div class="work_type_edit">
      <p>
        worktype：<%= f.text_field :name %>
        <%= f.submit '更新', class: "btn btn-warning"%>
      </p>
    </div> 
  <% end%>
</div>
