<div class="container">
  <div class="genre_edit">
    <h3>ジャンル編集</h3>
    <%= form_with model: @genre, url: admins_genre_path(@genre), local: true do |f| %>
    <p>
      名称：
      <%= f.text_field :name %>
      <%= f.check_box :target, :as => :boolean %> 集計対象
      <%= f.submit "更新", class: "btn btn-success" %>
    </p>
    <% end %>
  </div>
</div>
