<div class="sub-wrapper">
  <div class="container-fluid sub-container">
    <div class="row sub">
      <div class="col-md-4 col-xs-12 this_blog">
        <h2 class="this_blog-title">This Blog</h2>
        <div class="this_blog-description">
          <p>このブログはfumiblogがRuby on Railsで開発しました。</p>
          <p>GitHubにて、ソースコードを公開しています。</p>
          <div class="this_blog-description--link">
            <div class="blogCard blogCard--noimg">
              <div class="blogCardCont">
                <div class="blogCardTxt">
                  <p class="blogCardTitle"><a href="https://github.com/fumiblog/BlogApp" target="_blank">fumiblog/fumiblog.space</a></p>
                  <p>fumiblog.space - my blog</p>
                </div>
              </div>
              <div class="blogCardFooter">
                <a href="https://github.com/fumiblog/BlogApp"><img src="https://github.githubassets.com/pinned-octocat.svg" alt="">github.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
