@import "~bootstrap/scss/bootstrap";
@import '~trix/dist/trix';

.row_top {
  margin-top: 60px;
  padding: 10px;
 }

 .card-img-top {
   background-color: gray;
 }

.profile {
  background-color: lightgray;
  width: auto;
}

.number {
  text-align: right;
}

th {
  text-align: center;
}
