@import '~trix/dist/trix';
@import "~bootstrap/scss/bootstrap";
// @import "font-awesome";




.top-menu--list-item {
  font-size: x-large;
  &:hover {
    font-size: xx-large;
  }
}

.row.dash {
  height: 300px;

}
.row.row-cols-5 {
  height: 300px;
}

.col.test {
  background-color: gray;
  margin: 20px;
  height: auto;
}

.col.test1 {
  // background-color: yellow;
  margin: 10px;
  width: auto;
  height: auto;
}

.dashboard_menu {
  height: 500px;
  background-color: gray;
  margin: 20px;
}

.footprint {
  color: white;
  font-size: 12px;
}

.container_card {
  padding: 5px;
}


