<div class="sub-wrapper">
  <div class="container-fluid sub-container">
    <div class="row sub">
      <div class="col-md-8 col-xs-12 profile">
        <h2 class="profile-title">About Me</h2>
        <div class="col-md-5 col-sm-5 col-xs-5 profile-image">
          <%= image_tag 'profile-image', class: "profile-image--item" %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 profile-info">
          <p class="profile-info--name">fumiblog</p>
        </div>
      \</div>
    </div>
  </div>
</div>
